version: '3.9'

services:
  dremio:
    image: dremio/dremio-oss:latest
    container_name: dremio
    ports:
      - "9047:9047"    # Web UI
      - "31010:31010"  # JDBC/ODBC
    environment:
      - DREMIO_JAVA_SERVER_HEAP_MAX=4G
      - DREMIO_JAVA_SERVER_HEAP_MIN=2G
    volumes:
      - ./dremio-data:/opt/dremio/data
    restart: unless-stopped
# Definindo as redes que serão usadas pelos serviços.
    networks:
      - mybridge # Nome da rede que será usada.

# Configuração das redes que serão usadas no docker-compose.
networks:
  mybridge: # Nome da rede.
    external: # Indica que a rede é externa e já foi criada anteriormente.
      name: mybridge # Nome da rede externa que será usada.
